@include media-tablet {
    .fixed-width {
        padding: 0 !important;
        margin: 0 auto;
        max-width: ($tablet-width * 0.85);
    }
}
@include media-desktop {
    .fixed-width {
        padding: 0 !important;
        margin: 0 auto;
        max-width: ($desktop-width * 0.85);
    }
}
@include media-hd {
    .fixed-width {
        padding: 0 !important;
        margin: 0 auto;
        max-width: ($hd-width * 0.85);
    }
}
