.funding-list .content-items-count {
  font-weight: $bold;
  margin-bottom: rhythm(4);
}

.funding-list #filters-wrapper aside {
  @include leading-border($border-style: dotted $color__border--light);
  @include trailing-border($border-style: dotted $color__border--light);
  margin-bottom: rhythm(5);
  padding: rhythm(3) 0 0;

  .collapsible-trigger {
    cursor: pointer;
    padding-right: 40px;
    position: relative;

    span.glyphicon {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }

  .collapsible-panel {
    display: none;
    padding-bottom: rhythm(5);
  }
}

@include media-tablet {
  .funding-list #filters-wrapper aside {
    border: 0;
    margin-bottom: 0;
    padding: 0;

    .collapsible-panel {
      display: block !important;
    }

    .collapsible-trigger {
      cursor: default;
      padding: 0;

      span.glyphicon {
        display: none;
      }
    }
  }
}
