/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**

 *
 */
.navbar {
  @include media-desktop {
    height: rhythm(11);
  }
  .navbar-nav {
    height: 100%;
    margin: 0 -15px;

    li > a {
      padding: rhythm(1) 0;
      line-height: rhythm(8);
      color: $color__grey--darker;
      &.feedback {
        background-color: #B3DF65;
        background-image: none;
        text-transform: uppercase;
        color: $color__grey--darker;
        &:hover {
          background-color: #C3EF75;
          color: $color__grey--darkest;
        }
      }
    }
  }
  .navbar-header {
    .navbar-logo {
      margin: rhythm(3) 0 rhythm(2);
      height: rhythm(6);
    }
  }
}
