.search-results-pagination {

  margin-bottom: rhythm(3);
  padding: rhythm(3) 0;
  position: relative;

  &.load-more {
    padding: 0;
  }

  .nav-direction {
    display: block;
  }

  .btn__chevron-right, .btn__chevron-left {
    line-height: 1.5em;
    margin: 0;
    position: relative;
    text-align: left;
  }

  .btn__chevron-right {
    padding: rhythm(1) 40px rhythm(1) 10px;
  }

  .btn__chevron-left {
    padding: rhythm(1) 10px rhythm(1) 40px;
  }

  .previous, .next {
    display: block;
    margin: rhythm(1) 0px;
    position: relative;
    z-index: 100;

    a {
      border: 0px solid #fff;
      display: block;
      float: none;
      padding: 0;
    }

    .page-count {
      color: $color__grey--base;
    }

    &.previous {
      float: left;
      text-align: left;
    }

    &.next {
      float: right;
      text-align: right;
    }
  }

  .pagination {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;

    li {
      @include inline-block(middle)
    }
  }
}
