/*------------------------------------*\
    $SEARCH
\*------------------------------------*/
/**
 * Search results pane;
 */
.search-results-page {
  .search-container {
    margin-bottom: rhythm(1);
  }
}

//Search results are no longer independant elements, they are just content items.
//If you wamnt to make specific changes to search content items then make them here.

.search-form {
  margin-top: rhythm(3) 0;
  position: relative;
  height: rhythm(9);
  /*Search input box*/
  .txtSearch {
    display: inline;
    width: 100%;
    border-radius: 0;
    height: 60px;
    font-size: 1.2em;
    padding-right: 80px;
  }
  .btnSearch {
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    height: 60px;
    width: 60px;
    background-color: $color__grey--darker;
    color: $color__white;
    &:hover {
      background-color: #454545;
      padding-bottom: 0;
      color: auto;
      border-bottom: 0px;
    }
  }
}

.navbar {
  .search-form {
    height: 50px;
    width: 358px;
    overflow: hidden;
    margin: rhythm(2) 0 rhythm(2) 1em;
    .txtSearch {
      font-size: 1em;
      height: rhythm(6);
    }
    .btnSearch {
      height: rhythm(6);
      width: 44px;
    }
  }
}

.paging {
  ul {
    li {
      cursor: pointer;

    }
    li.active {
      cursor: arrow;
    }
  }
  .pagination>li>span:focus, .pagination>li>span:hover {
    color: inherit;
    background-color: inherit;
    border-color: none;
    cursor: default;
  }
}




