.mdl-data-table {
    @include adjust-font-size-to($mobile-milli-size, 1);
}

th {
  @include adjust-font-size-to($mobile-milli-size, 1);
  padding-top: 0px !important;
  padding-bottom: 12px !important;
  height: rhythm(2) !important;
}

td, tr {
  @include adjust-font-size-to($mobile-milli-size, 1);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: rhythm(2) !important;
}

.table-control {
  background-color: $color__grey--base;
  //height: rhythm(2);
  padding-bottom: rhythm(2);
  margin-bottom: rhythm(1);
  //overflow: hidden;
  position: relative;
}

.edge-button {
  position: absolute;
  //margin-top: - rhythm(2);
  right: 20px;
  bottom: -12px;
}

.mdl-data-table {
  width: 100%;
}

.table-control table { margin-bottom: 0px; }
