@mixin tab($listItemPadding, $listItemPaddingTablet, $linkPadding) {
  background: $color__blue--lightest;
  border: 1px solid $color__blue--lightest;
  border-bottom: 0;
  border-radius: 0;
  display: inline-block;
  color: $color__body;
  cursor: pointer;

  font-size: $mobile-h4-size;
  font-weight: 300;
  height: 50px;
  margin-right: 2px;
  padding: $listItemPadding;
  position: relative;
  text-decoration: none;
  text-align: center;
  top: 0px;

  @include transition(top 0.2s, height 0.2s);

  &:hover {
    background: $color__blue--lightest;
    top: -4px;
  }

  &.active {
    background: $color__background--white;
    border-color: $color__border--base;
    height: 51px;
    font-weight: 400;
    padding-top: 13px;
    top: -4px;
    z-index: 3;

    @include transition(none);
  }

  a {
    color: $color__body;
    display: block;
    line-height: 21px;
    padding: $linkPadding;
    text-decoration: none;
  }

  @include media-tablet {
    font-size: $tablet-h4-size;
    padding: $listItemPadding;

    a {
      line-height: 28px;
    }
  }

  @content;
}

// on mobile view the tabs display as headers and content, not as tabs

.tab-container {
  margin-top: 49px;

  .tab-content {
    padding: 0;

    a {
      word-wrap: break-word;
    }

    h3 {
      font-size: 19px;
      line-height: 28px;
      margin: 38px 0 4px;

      &:first-child {
        margin-top: 0;
    }
    }

    h2 + h3 {
      margin-top: 28px;
    }
  }

  .tab-header {
    border-top: rhythm(1) solid $color__border--darker;
    display: inline-block;
    line-height: rhythm(4);
    margin: 44px 0 19px;
  }
}

// on tablet and above the tabs are rendered as tabs

@include media-tablet {

  .tab-container {

    .tab-header {
      @include tab(9px 13px, 12px 13px 18px, 0) {
        float: left;
      }

      margin: 9px 2px 5px 0;
    }

    .tab-content {
      background: $color__background--white;
      border-top: 1px solid $color__border--base;
      float: right;
      height: 0;
      left: -999em;
      margin-top: (baseline-nearest(56px) - 1);
      margin-left: -100%;
      overflow: hidden;
      padding-top: 36px;
      position: absolute;
      width: 100%;
      z-index: 2;

      a {
        word-wrap: normal;
      }

      &.active {
        height: auto;
        left: 0;
        position: relative;
      }

      h3 {
        font-size: 23px;
        margin: 45px 0 10px;
      }
    }
  }
}
