$videoAspectRatio4to3: 0.75;
$videoAspectRatio16to9: 0.5625;

$videoAspectRatio: $videoAspectRatio16to9;

.video-container {
  margin: 21px 0;

  &__frame {
    height: 320px * $videoAspectRatio;
  }

  &__caption {
    background-color: $color__black;
    color: $color__grey--light;
    font-size: 12px;
    line-height: 21px;
    margin-top: -8px;
    padding: 14px 20px;
  }
}

@include media-phone {
  .video-container {
    &__frame {
      height: 480px * $videoAspectRatio;
    }
  }
}

@include media-tablet {
  .video-container {
    margin: 28px 0;

    &__frame {
      height: 720px * $videoAspectRatio;
    }

    &__caption {
      font-size: 14px;
      padding-right: 200px;
    }
  }
}

@include media-desktop {
  .video-container {
    &__frame {
      height: 616px * $videoAspectRatio;
    }
  }
}

@include media-hd {
  .video-container {
    &__frame {
      height: 750px * $videoAspectRatio;
    }
  }
}
