.attribution {
  @include adjust-font-size-to($mobile-milli-size, 3);
  color: $color__body;
  border-left: 4px solid $color__border--darker;
  padding-left: 10px;
  margin: 0 0 35px 2px;

  .warning {
    color: $color__error;
    strong {
      text-transform: uppercase;
    }
  }

  .title {
    a {
      text-decoration: underline;
    }
  }

  img.logo {
    max-height: 64px;
  }
}


@include media-tablet {
  .attribution {
    @include adjust-font-size-to($tablet-micro-size);

    margin-bottom: 35px;
  }
}

@include media-desktop {
  .attribution {
    @include adjust-font-size-to($desktop-micro-size);
  }
}
