.business-rates-calculator {

  h2.emphasis {
    margin-bottom: 28px;
  }

  .error-block h2 {
    margin-bottom: 8px;
  }

  .block {
    background: $color__blue--lightest;
    margin: 0 0 21px;
    padding: 21px 0 24px;
    position: relative;

    &.no-margin {
      margin: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      background: $color__blue--lightest;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 15px;
    }

    &:after {
      left: 100%;
    }

    &.no-before:before {
      content: none;
    }

    &.no-after:after {
      content: none;
    }

    h2 {
      line-height: 28px;
      margin: 0 0 22px;
    }

    #ajax-loader {
      background-image: url(../images/async/ajax-loader-blue-lightest.gif);
    }
  }

  label {
    @extend label;
    font-weight: 700;
    margin-bottom: 14px;

    @include adjust-font-size-to($mobile-h2-size, 3);
  }

  .input-table {
    display: table;
    width: 100%;

    > .input-cell {
      display: table-cell;
      vertical-align: top;

      &:last-child {
        width: 1px;
      }

      button,
      input[type=submit] {
        margin: 0;
      }
    }
  }

  /* make a button look like a link */
  button.link {
    background: transparent;
    color: $color__link--primary;
    display: inline;
    font-weight: 400;
    height: auto;
    line-height: 21px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    width: auto;

    &:hover {
      text-decoration: underline;
    }
  }

  #address-form {
    margin-top: 42px;

    .form-group {
      margin-bottom: 21px;
    }

    .button {
      height: 42px;
      line-height: 42px;
      min-width: 60px;
    }
  }

  #property-selection {
    label {
      font-size: $mobile-base-size;
      font-weight: 400;
      line-height: 21px;
    }

    select {
      height: 56px;
      margin-bottom: 14px;
      width: 100%;
    }

    &.result-count-1 {
      input[type=radio] {
        left: -999em;
        position: absolute;
      }
    }
  }

  #additional-data-form {
    .form-group {
      margin-bottom: 17px;
      padding-left: 25px;
      position: relative;

    }

    input[type=checkbox],
    input[type=radio] {
      position: absolute;
      left: 0;
    }

    label {
      @include adjust-font-size-to($mobile-base-size, 3);
      margin: 7px 0;
    }

    p,
    li {
      @include adjust-font-size-to($mobile-milli-size, 3);
      margin: rhythm(1, $mobile-milli-size) 0;
    }

    .form-group + .form-group {
      margin-top: 21px;
    }
  }

  .more-info-content {
    display: none;
  }

  .indent {
    margin: 0 -15px;
    padding: 0 15px;
    position: relative;
  }

  .result {
    position: relative;
    margin: 42px 0 126px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 63px;
    }

    h3 {
      font-size: 26px;
      font-weight: 300;
      margin: -3px 0 33px 0;
      text-transform: uppercase;

    }

    h4 {
      font-size: $mobile-h3-size;
      font-weight: 700;
      margin: 1px 0 3px;
    }

    p.info {
      background: url(../images/icons/info_grey.png) no-repeat 0 0 transparent;
      padding-left: 28px;
      @include image-retina('../images/icons/info_grey.png', 22px, 22px);
    }

    .right {
      text-align: right;
    }

    .block {
      margin: 14px 0;
      padding: 0 0 17px;

      h4 {
        padding: 15px 0 0;
      }

      + .block {
        margin-top: -7px;
      }
    }

    .address {
      border: 1px solid black;
      border-width: 1px 0;
      overflow: hidden;
      padding: 14px 0 9px;
    }

    .relief {
      background: $color__grey--lighter;
      border: 2px solid black;
      border-width: 2px 0;
      padding-bottom: 20px;

      &:before,
      &:after {
        background: $color__grey--lighter;
        border: 2px solid black;
        border-width: 2px 0;
        bottom: -2px;
        content: '';
        top: -2px;
      }

      &.no-before:before {
        content: none;
      }

      &.no-after:after {
        content: none;
      }

      h4 {
        font-size: $mobile-h2-size;
        margin-bottom: 21px;
        padding-top: 7px;
      }

      .discount {
        font-size: $mobile-h2-size;
        line-height: 21px;
        text-transform: uppercase;
        margin: -5px 0 9px;
      }

      .large {
        font-size: 35px;
        line-height: 35px;
        margin: -4px 0 24px;
      }

      p {
        font-size: $mobile-list-size;
      }
    }

    .liability {
      background: $color__blue--light;
      color: $color__white;
      margin-bottom: 21px;

      &:before,
      &:after {
        background: $color__blue--light;
      }

      h4 {
        font-size: $mobile-h2-size;
        margin-bottom: 5px;
        padding: 13px 0 0 0;
      }

      .large {
        margin-top: -4px;
        padding: 21px 0 39px;
      }
    }

    .large {
      font-size: $mobile-h1-size;
    }

    .heavy {
      font-weight: 900;
    }

    p.clear-results {
      margin-bottom: 49px;
      position: relative;

      a {
        border: 1px solid $btn__primary;
        border-width: 1px 0;
        display: block;
        line-height: 33px;
        padding: 0 0 0 40px;
        text-decoration: none;

        span.glyphicon {
          font-size: 1.2em;
          left: 0;
          margin: 0 0.5em;
          position: absolute;
          top: 9px;
        }

        &:hover,
        &:focus {
          background-color: $color__grey--lighter;
        }

        &:active {
          background-color: $btn__primary;
          color: $color__white;
        }
      }
    }
  }

  .remove-property {
    margin: 0;
    position: absolute;
    right: 15px;
    top: 0;

    .icon {
      top: 0;

      &:after {
        content: none;
      }

      &:before {
        background: $color__body;
        display: block;
        height: 28px;
        line-height: 28px;
        margin-left: 5px;
        width: 28px;

        @include transition(background-color 1s);
      }
    }

    &:hover {
      .icon {
        &:before {
          background: $color__grey--darker;

          @include transition(background-color 0.2s);
        }
      }
    }
  }
}




/* collect media queries into collected blocks */
@include media-tablet {
  .business-rates-calculator {
    .block {
      padding: 28px 20px 7px;

      &:before,
      &:after {
        content: none;
      }

      h2 {
        line-height: 35px;
      }
    }

    label {
      @include adjust-font-size-to($tablet-h2-size);
    }

    #property-selection {
      label {
        font-size: $tablet-base-size;
        line-height: 28px;
      }
    }

    #additional-data-form {
      label {
        @include adjust-font-size-to($tablet-base-size);
      }

      p,
      li {
        @include adjust-font-size-to($tablet-milli-size);
      }
    }

    .indent {
      margin: 0 auto;
      width: 66.666667%;
    }

    .result {
      h3 {
        margin-bottom: 29px;
      }

      h4 {
        font-size: $tablet-h3-size;
      }

      .removeProperty {
        font-size: $tablet-micro-size;
      }

      .block {
        padding: 13px 20px 14px;

        h4 {
          margin-bottom: 0;
          padding: 0;
        }
      }

      .address {
        h4 {
          padding: 7px 0;
        }
      }

      .relief {
        padding-bottom: 22px;
        padding-top: 8px;

        &:before,
        &:after {
          content: none;
        }

        h4 {
          font-size: $tablet-h2-size;
          padding: 7px 0 21px;
        }

        .large {
          font-size: 42px;
          line-height: 42px;
          margin-bottom: 21px;
        }

        p {
          font-size: $tablet-milli-size;
          line-height: 21px;
        }

        .discount {
          font-size: $tablet-h2-size;
          margin: 1px 0 24px;
        }
      }

      .liability {
        h4 {
          font-size: $tablet-h2-size;
          margin-bottom: 10px;
          padding-top: 18px;
        }
      }

      .large {
        font-size: $tablet-h1-size;
      }

      p.clear-results {
        a {
          line-height: 40px;
          padding: 0 0 0 45px;
        }

        span.glyphicon {
          top: 9px
        }
      }

      p + button {
        margin-bottom: 21px;
      }
    }
  }
}

/*
items that might want to be migrated to global styles
*/

@include media-tablet {
  .business-rates-calculator {
    .form-error {

      .error-text {

        &:before {
          top: 6px;
        }
      }
    }
  }
}

@include media-desktop {
  .business-rates-calculator {
    label {
      @include adjust-font-size-to($desktop-h2-size);
    }

    #additional-data-form {
      label {
        @include adjust-font-size-to($desktop-base-size);
      }

      p,
      li {
        @include adjust-font-size-to($desktop-milli-size);
      }
    }

    .indent {
      margin: 0 0 0 8.333333%;
      width: auto;
    }

    .result {
      h4 {
        font-size: $desktop-h3-size;
      }

      .removeProperty {
        font-size: $desktop-micro-size;
      }

      .relief {
        h4 {
          font-size: $desktop-h2-size;
        }
      }
    }
  }
}
