.home,
.category-list-1,
.category-list-2,
.category-list-3,
.jumpoff-with-sub-categories,
.jumpoff {
  background-color: $color__grey--lighter;
}

.header-wrapper {
  background: $color__background--white;

  &--border {
    border-bottom: 1px solid $color__grey--light;
  }
}

.category-header-wrapper {
  overflow: hidden;
}

.category-header {
  border-left: 5px solid $color__blue--light;
  margin: 0 -15px;
  overflow: visible;
  position: relative;
  min-height: 153px;

  @include transition(min-height 0.2s);

  &__card {
    background: $color__background--white;
    bottom: 0;
    left: 0;
    overflow: visible;
    padding-left: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @include transition(margin 0.2s, left 0.2s, right 0.2s);

    &--dink {
      left: 20px;
      right: -20px
    }

    &--depth-1 {
      margin-left: 0;
    }
    &--depth-2 {
      margin-left: 30px;
    }
    &--depth-3 {
      margin-left: 60px;
    }
    &--depth-4 {
      margin-left: 90px;
    }
    &--depth-5 {
      margin-left: 120px;
    }

    // single-direction shadow effect
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -5px;
      right: 100%;
      @include background-image(linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1)));
    }

    &:before {
      background: url(../images/crest/crest_tint_mob_160px.png) no-repeat left bottom transparent;
      bottom: -23px;
      content: '';
      height: 131px;
      position: absolute;
      right: 0;
      width: 80px;

      @include image-retina('../images/crest/crest_tint_mob_160px.png', 160px, 131px);
    }

    &--ancestor {
      background: $color__grey--light;
      text-decoration: none;
      z-index: 1;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }

      .category-header__title {
        opacity: 0.35;
      }

      .category-header__summary {
        opacity: 0.35;
      }

      &:before {
        content: none;
      }
    }
  }

  &__title {
    color: $color__grey--darker;
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 12px;

    @include transition(all 0.2s);
  }

  &__summary {
    color: $color__grey--dark;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}

.js-card--no-animation {
  @include transition(none);
}

.js-ancestor-card--active {
  background-color: $color__blue--lighter;
}

.js-category-header-ghost {
  display: none;
}

.category-list-container {
  padding-bottom: rhythm(2);
}

.category-list {
  padding-top: 28px;
  position: relative;

  &--cards {
    margin: 0 10px;
    padding-top: 5px;
  }

  &--subcategories {
    padding-top: 35px;
  }
}

.category-item {
  //padding: 5px;

  &--subcategory {
    margin-bottom: 20px;
  }

  &--not-card {
    border-left: 1px solid mix($color__link--primary, $color__grey--lighter, 30%); // calculate solid color at 30% tint since IE8 can't handle RGBA

    margin-bottom: 28px;
    padding: 0;

    @include transition(border-color 1s);

    &:hover {
      border-left-color: $color__link--hover;

      @include transition(border-color 0.2s);
    }

    &--limelight {
      border-left: 2px solid $color__link--primary;
      padding-bottom: 15px;

      .category-item__link {
        padding-left: 9px;
      }
    }

    .category-item__link {
      position: relative;
      padding-left: 10px;


      &:active:before {
        content: '';
        position: absolute;
        left: -16px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        background: $color__blue--lighter;
      }
    }
  }

  &--card {
    background-color: $color__background--white;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.3);
    line-height: 21px;
    margin: 5px -10px;
    position: relative;

    border-bottom: 0px solid $color__blue--base;

    .category-item__link {
      padding: 20px 15px 30px;

      &:hover {
        box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);

        .category-item__title {
          text-decoration: none;
        }
      }

      &:active,
      &:focus {
        background: $color__blue--lighter;
        box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.7);

        .category-item__title {
          color: $color__link--focus;
        }
      }

      // bottom border on card hover
      &:after {
        background: $color__blue--base;
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        right: 0;

        @include transition(height 0.2s);
      }

      &:hover:after {
        height: 5px;
      }

      // unicorn on card hover
      &:before {
        //background: url(../images/unicorn.png) no-repeat right bottom;
        bottom: 6px;
        content: '';
        height: 150px;
        opacity: 0;
        position: absolute;
        right: 6px;
        width: 150px;

        @include transition(opacity 0.2s);
      }

      &:hover:before {
        opacity: 0.15;
      }
    }
  }

  &__link {
    display: block;
    line-height: 21px;
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .category-item__title {
        text-decoration: underline;
      }
    }
  }

  &__header {
    margin-bottom: 0;
  }

  &__header--group-header {
    margin: 0 -15px 34px;
    padding: 7px 15px;
    text-align: center;

    @include transition(background 0.2s, box-shadow 0.2s);

    &--sticky {
      background: $color__background--white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

      .title-text {
        background: $color__background--white;
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
    margin: 3px 0 13px;
    position: relative;

    .title-text {
      background: $color__grey--lighter;
      padding: 0 15px;

      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;

      &--sticky {
        background: $color__background--white;
      }
    }

    &--group-title {
      color: $color__blue--dark;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      margin: 0 auto;
      padding: 0 20px;
      position: relative;
      width: 100%;
      z-index: 1;

      &:before {
        background: $color__blue--dark;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: -1;
      }
    }
  }

  &__format {
    color: $color__text;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__summary {
    color: darken($color__grey--dark, 11.2%);
    font-size: 14px;
    line-height: 21px;
    margin: -5px 0 1px 0;
    position: relative;
  }

  // no focus state on children
  &__title:focus,
  &__summary:focus {
    outline: none;
  }
}

.category-item-container {
  @include media-tablet {
    &.nth-child-2 {
      clear: left;
    }
  }
  @include media-desktop {
    &.nth-child-2 {
      clear: none;
    }
    &.nth-child-3 {
      clear: left;
    }
  }
}

.limelit-items {
  border-bottom: 1px solid darken($color__grey--light, 3%);
  margin-bottom: 45px;

  >:last-child {
    margin-bottom: 45px;
  }
}

@include media-tablet {

  .js-category-header-ghost {
    display: block;
  }

  .category-list-container {
    padding-bottom: rhythm(5);
  }

  .category-list--cards {
    margin: auto;
  }

  .category-header-wrapper {

    &--sticky {
      position: fixed;
      -webkit-backface-visibility: hidden;
      width: 100%;
      z-index: 2;

      .category-header {
        min-height: 63px;

        &__title {
          font-size: 26px;
          line-height: 63px;
          margin: 0;
        }

        &__summary {
          display: none;
        }
      }
    }
  }

  .category-header {
    border-left-width: 15px;
    margin-right: 0;
    min-height: 196px;

    &__card {
      padding: 0 125px 0 30px;

      &--depth-1 {
        margin-left: 0;
      }
      &--depth-2 {
        margin-left: 50px;
      }
      &--depth-3 {
        margin-left: 100px;
      }
      &--depth-4 {
        margin-left: 150px;
      }
      &--depth-5 {
        margin-left: 200px;
      }

      &--has-ancestor {
        z-index: 2;
      }

      &--ancestor {
        padding-left: 20px;
      }

      &:before {
        background-image: url(../images/crest/crest_tint_tab_230px.png);
        bottom: -32px;
        height: 188px;
        width: 230px;

        @include image-retina('../images/crest/crest_tint_tab_230px.png', 230px, 188px);
      }
    }

    &__title {
      font-size: 42px;
      line-height: 49px;
      margin-bottom: 19px;
    }

    &__summary {
      font-size: 14px;
      line-height: 21px;
    }
  }


  .category-item {
    &--card {
      .category-item__link {
        height: 186px;
      }
    }

    &__header {
      padding-top: 0;
      text-align: left;

      &--group-header {
        margin-top: 3px;
      }
    }

    &--not-card {
      margin-bottom: 40px;


      &--limelight {
        border-left: 2px solid $color__link--primary;

        .category-item__link {
          padding-left: 14px;
        }
      }

      .category-item__link {
        padding-left: 15px;
      }
    }

    &--subcategory {
      margin-bottom: 48px;
    }

    &__link {
      line-height: 28px;
    }

    &__title {
      font-size: $tablet-h3-size;
      line-height: 26px;

      &--group-title {
        padding: 0;
        text-align: left;

        &:before {
          content: none;
        }
      }

      .title-text {
        padding: 0;

        &--sticky {
          background: transparent;
        }
      }
    }

    &__summary {
      font-size: 16px;
      line-height: 23px;
    }
  }

  .category-item__header--group-header--sticky {
    background: transparent;
    box-shadow: none;
  }
}

@include media-desktop {
  .category-header-wrapper > .container {
    position: relative;

    &:before {
      background-image: url(../images/crest/crest_tint_desk_270px.png);
      bottom: -38px;
      content: '';
      height: 221px;
      position: absolute;
      right: 0;
      width: 270px;

      @include image-retina('../images/crest/crest_tint_desk_270px.png', 270px, 221px);
    }
  }

  .category-header {
    &__card {
      padding-right: 81px;

      &:before {
        content: none;
      }
    }
  }

  .category-item {
    &__title {
      font-size: 21px;
      line-height: 26px;
      margin: 0 0 13px;
    }
  }
}

@include media-hd {
  .category-header {
    & __card {
      padding-right: 97px;
    }
  }
}
