.document-info {
  background: $color__grey--lighter;
  border-top: 1px solid $color__grey--light;
  margin: 35px -15px 0;
  padding: 35px 15px;

  &__icon {
    background: $color__white;
    border: 1px solid $color__blue--light;
    color: $color__blue--light;
    display: table;
    height: 154px;
    float: left;
    font-size: 26px;
    font-weight: 700;
    position: relative;
    text-align: center;
    width: 107px;

    @include transition(border-color 1s);

    &:after {
      border-bottom: 20px solid $color__blue--light;
      border-right: 20px solid $color__grey--lighter;
      content: '';
      height: 0;
      position: absolute;
      right: -1px;
      top: -1px;
      width: 0;

      @include transition(border-color 1s);
    }

    &:hover {
      @include transition-duration(0.2s);

      &:after {
        border-bottom-color: $color__blue--base;

        @include transition-duration(0.2s);
      }
    }
  }

  &__icon-link {
    display: table-cell;
    padding-bottom: 14px;
    text-decoration: none;
    vertical-align: middle;

    &:after {
      background: $color__blue--light;
      border-radius: 4px;
      top: 60%;
      content: '';
      height: 4px;
      left: 20%;
      position: absolute;
      right: 20%;

      @include transition(border-color 1s);
    }

    &:hover {
      border-color: $color__blue--base;
      text-decoration: none;

      &:after {
        background-color: $color__blue--base;

        @include transition-duration(0.2s);
      }
    }

    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  &__text {
    margin-left: 122px;
  }

  &__title {
    font-weight: normal;
    margin: -5px 0 13px;
    text-decoration: underline;
  }

  &__page-count {
    font-weight: 700;
  }

  &__file-size {
    font-size: $mobile-h2-size;
    font-weight: 300;
  }

  &__disclaimer {
    font-size: 12px;
    line-height: 21px;
  }

  &__inline-title {
    font-weight: 400;
    text-transform: uppercase;
  }

  &__body {
    overflow: hidden;
  }

  // some more specific selectors are required
  .button-download {
    background-image: none;
    padding: 0;

    &:hover {
      background-image: none;
    }

    &:active {
      .document-info__download-icon {
        opacity: 0.65;
      }
    }

    .link-text {
      padding: 20px 0 0;
    }
  }

  &__download-icon {
    background: url(../images/icons/arrows/download.png) no-repeat 0 0 transparent;
    display: inline-block;
    height: 15px;
    width: 16px;


    @include image-retina('../images/icons/arrows/download.png', 15px, 16px);
  }
}

@include media-tablet {
  .document-info {
    background: transparent;
    border: 0;
    margin: 49px 0 0 0;
    padding: 0;

    &__icon {
      font-size: 35px;
      height: 231px;
      width: 165px;

      &:after {
        border-width: 0 40px 40px 0;
        border-right-color: $color__white;
      }
    }

    &__text {
      border-top: 2px dotted $color__grey--base;
      margin-left: 185px;
      padding-top: 35px;
    }

    &__footer {
      clear: both;
      display: table;
      margin-top: 14px;
    }

    &__download-wrapper {
      padding-right: 20px;
    }

    &__cell {
      display: table-cell;
      vertical-align: top;
    }

    &__disclaimer {
      border-bottom: 2px dotted $color__grey--base;
      font-size: 14px;
      margin-left: 185px;
    }

    &__download {
      clear: left;
      float: left;
    }

    // some more specific selectors are required
    a.document-info__download {
      margin: 0;
      width: 165px;
    }
  }
}

@include media-desktop {
  .document-info__file-size {
    font-size: 26px;
  }
}
