
$footer-top-padding: 140px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 291px + $footer-top-padding;

  @include media-tablet {
    margin-bottom: 267px + $footer-top-padding;
  }

  @include media-desktop {
    margin-bottom: 211px + $footer-top-padding;
  }

  &.home {
    $footer-top-padding: 48px;

    margin-bottom: 291px + $footer-top-padding;

    @include media-tablet {
      margin-bottom: 267px + $footer-top-padding;
    }

    @include media-desktop {
      margin-bottom: 211px + $footer-top-padding;
    }
  }
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
