body.guide {
  .content-area {

    h1 {
      margin-bottom: 14px;
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      margin: -3px 0 26px 0;

      &.emphasis {
        border-color: $color__blue--light;
        margin: -1px 0 27px 0;
        padding-top: 5px;
      }
    }

    h3 {
      font-size: $mobile-h2-size;
      line-height: 28px;
      margin: 28px 0 0 0;
    }

  }
}

@include media-tablet {
  body.guide {

    .content-area {
      h1 {
        margin-bottom: 30px;
      }

      h2 {
        font-size: 35px;
        line-height: 42px;
        margin: 0 0 26px;

        &.emphasis {
          margin: -2px 0 28px;
          padding-top: 0px;
        }
      }

      h3 {
        font-size: $tablet-h2-size;
        margin: 26px 0 9px 0;
      }
    }

    .guide-buttons {
      margin: -3px -15px 0;
    }

    .attribution {
      margin-bottom: 49px;
    }
  }
}
