header {
  margin: 0 0 (rhythm(3, $mobile-h1-size) - 3);

  @include media-tablet {
    margin-bottom: (rhythm(4, $tablet-h1-size) - 3);
  }

  @include media-desktop {
    margin-bottom: (rhythm(4, $desktop-h1-size) - 2);
  }

  h1 {
    margin-bottom: 0;

    + p {
      font-size: $mobile-milli-size;
      line-height: $base-line-height * 4;
      position: relative;
      top: 2px;

      @include media-tablet {
        font-size: $tablet-milli-size;
        top: -2px;
      }

      @include media-desktop {
        font-size: $desktop-milli-size;
      }
    }
  }
}
