.thesett-header {
    background-color: white;
    overflow: visible;
}
.thesett-header .material-icons {
    color: #767777!important;
}
.thesett-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}
.thesett-header .mdl-menu__container {
    margin: 0 !important;
    z-index: 50;
}
.thesett-header .mdl-navigation__link {
    color: #757575;
    font-size: 14px;
    font-weight: 700;
}
