.thesett-logo-image {
    height: 28px;
    width: 140px;
}
.thesett-header {
    background-color: white;
    overflow: visible;
}
.thesett-header .material-icons {
    color: #767777!important;
}
.thesett-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}
.thesett-header .mdl-menu__container {
    margin: 0 !important;
    z-index: 50;
}
.thesett-header .mdl-navigation__link {
    color: #757575;
    font-size: 14px;
    font-weight: 700;
}
.thesett-title {
    display: none !important;
}
.thesett-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@include media-tablet {
    .thesett-mobile-title {
        display: none!important;
    }
    .thesett-title {
        display: block !important;
    }
}
