.home, .category-list-0 {
  .no-right-padding {
    padding-right: 0;
  }

  .no-left-padding {
    padding-left: 0;
  }

  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .hero {
    margin-bottom: 21px;
    font-size: 16px;

    .summary {
      border-top: 1px solid $color__grey--pale;
      padding-top: 21px;
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 21px
    }

    .links-container {
      padding-right: 5px;

      + .col-xs-6 {
        padding-left: 5px;
      }
    }

    aside {
      padding-right: 30px;

      @media screen and (max-width: $screen-xs-max) {
        padding-right: 0;
      }
    }

    a.a-to-z-link {
      display: block;
      height: 76px;
      margin: 0;
      position: relative;
      text-align: left;
      text-transform: none;
      max-width: 320px;
      

      .link-text {
        background: $btn__secondary;
        display: block;
        height: 76px;
        padding: 15px 50px 23px 15px;
        @include transition(color 0s);

        .large {
          display: inline;
          font-size: 45px;
          font-weight: 100;
          line-height: 44px;
          margin: 0 5px 5px 0;
        }

        .small {
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }

      .icon {
        bottom: 0;
        display: block;
        position: absolute;
        right: 0;
        width: 76px;
        height: 76px;
        z-index: 2;

        &:after {
          background: url(../images/icons/arrows/int_arrow_right_70px.png) 0 0 no-repeat $color__raspberry--light;
          
          border: none;
          box-sizing: content-box;
          margin-left: 0;
          position: static;
          background-size: 76px;
          min-height: auto;
          height: 76px;
          width: 76px;
          
          

          @include image-retina('../images/icons/arrows/int_arrow_right_70px.png', 70px, 70px);
        }
      }

      &:hover {
        .icon {
          &:after {
            background-color: $color__raspberry--base;
          }
        }
      }

      &:active {

        .link-text {
          color: rgba(255,255,255,0.65);
        }
        
        .icon:after {
          background-image: url(../images/icons/arrows/int_arrow_right_tint_42px.png);

          @include image-retina('../images/icons/arrows/int_arrow_right_tint_42px.png', 35px, 35px);
        }
      }

      &:after {
        content: none;
      }
    }

    .link {
      margin-bottom: 14px;
      text-align: center;
      padding-right: 42px;

      @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 14px;
        padding-left: 0;
      }



      a {

        border-top: 1px solid $color__link--primary;
        border-bottom: 1px solid $color__link--primary;
        color: $color__link--primary;
        display: block;
        height: 42px;
        line-height: 42px;
        text-decoration: none;
        width: auto;

        @include transition(color 1s, border-color 1s);

        &:after {
          content: initial;
          width: auto;
        }

        &:hover,
        &:focus {
          border-color: $btn__primary--hover;
          color: $btn__primary--hover;

          @include transition(color 0.2s, border-color 0.2s);

          .internal-square-chevron-42 {
            background-color: $btn__primary--hover;

            @include transition(background-color 0.2s);
          }
        }

        &:active {
          .internal-square-chevron-42 {
            background-image: url(../images/icons/arrows/int_arrow_right_tint_42px.png);

            @include image-retina('../images/icons/arrows/int_arrow_right_tint_42px.png', 42px, 42px);
          }
        }

      }

    }
  }
}

.internal-square-chevron-42 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: $btn__primary;
  background-repeat: no-repeat;
  background-size: 42px;
  width: 42px;
  height: 42px;
  background-position: top right;
  background-image: url(../images/icons/arrows/int_arrow_right_42px.png);

  @include image-retina('../images/icons/arrows/int_arrow_right_42px.png', 42px, 42px);
  @include transition(background-color 1s);

  &.SIGNPOST {
    background-image: url(../images/icons/arrows/ext_arrow_42px.png) !important;
    background-color: $color__raspberry--light;

    @include image-retina('../images/icons/arrows/ext_arrow_42px.png', 42px, 42px);
  }

}

@include media-tablet {
  .home, .category-list-0 {
    .hero {
      border-top: none;
      padding-top: 0;
      margin-top: -1px;

      aside {
        margin-top: 35px;
        padding-right: 20px;
      }

      .link {
        margin-bottom: 21px;

        a {
          height: 35px;
          line-height: 35px;
          font-size: 14px;
          margin-right: -7px;
        }

      }

      .summary {
        border-top: none;
        padding-top: 0;
        font-size: 13px;
        line-height: 18px;
      }

      a.a-to-z-link {
        height: 63px;
        text-align: left;
        width: 100%;


        .link-text {
          height: 63px;
          padding: 10px 71px 10px 15px;
          text-align: left;

          .large, .small {
            display: inline;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
          }

        }

        .icon {
          bottom: 0;
          display: block;
          position: absolute;
          right: 0;
          width: 63px;
          height: 63px;
          z-index: 2;

          &:after {
            background-image: url(../images/icons/arrows/int_arrow_right_70px.png);
            background-size: 63px;
            width: 63px;
            height: 63px;

            @include image-retina('../images/icons/arrows/int_arrow_right_70px.png', 56px, 56px);
          }
        }

        &:active {

          .icon:after {
            background-image: url(../images/icons/arrows/int_arrow_right_tint_56px.png);

            @include image-retina('../images/icons/arrows/int_arrow_right_tint_56px.png', 56px, 56px);
          }
        }
      }
    }
  }

  // Overrides to the internal square chevron on the homepage, 
  .internal-square-chevron-42 {
    background-size: 35px;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/arrows/int_arrow_right_42px.png);
    background-size: 35px;

    @include image-retina('../images/icons/arrows/int_arrow_right_42px.png', 35px, 35px);
  }


}

@include media-desktop {
  .home, .category-list-0 {
    .hero {
      aside {
        margin-top: 0;
        padding-bottom: rhythm(3);

        .summary {
          margin-top: -1px;
          font-size: 16px;
          line-height: 23px;
          padding-top: 14px;
          padding-bottom: 7px;
        }
      }

      a.a-to-z-link {
        height: 70px;
        max-width: 100%;


        .link-text {
          height: 70px;
          padding: 13px 48px 13px 15px;
          text-align: center;

          .large {
            display: inline-block;
            font-size: 44px;
            font-weight: 100;
            text-align: right;
          }

          .small {
            display: inline-block;
            margin: 4px 0 0 8px;
            width: 130px;
            text-align: left;
          }
        }

        .icon {
          width: 70px;
          height: 70px;

          &:after {
            background-image: url(../images/icons/arrows/int_arrow_right_70px.png);
            background-size: 70px;
            height: 70px;
            width: 70px;

            @include image-retina('../images/icons/arrows/int_arrow_right_70px.png', 70px, 70px);
          }
        }
      }


      .link {
        margin-bottom: 21px;

        a {
          height: 42px;
          line-height: 42px;
          font-size: 16px;
          margin-right: auto;
        }

      }

    }
  }

  // Overrides to the internal square chevron on the homepage, 
  .internal-square-chevron-42 {
    background-size: 42px;
    width: 42px;
    height: 42px;
    background-image: url(../images/icons/arrows/int_arrow_right_42px.png);
    background-size: 42px;

    @include image-retina('../images/icons/arrows/int_arrow_right_42px.png', 42px, 42px);
  }

}


@include media-hd {

  .home, .category-list-0 {
    .hero {
      
      aside {
        .summary {
          padding-top: 14px;
          padding-bottom: 7px;
        }
      }

    }
  }

}
