.finder-hero {
  	background-color: $color__blue--lightest;
    margin: 28px 0 35px;
	padding: 50px;
	position: relative;

	@media screen and (max-width: $screen-xs-max) {
		padding: 20px;
	}

	.button {
		margin: 28px 0 0;
	}
}
.la-service-finder {
	.council-select {
		margin-bottom:56px; 
		width:100%;
		label {
			font-size: 26px;
			line-height: 35px;
		}
	}
	.dropdown-menu > li {
		padding-top: 0;
		a {
			text-decoration: none;
		}
	}
	select {
		font-size: 0.888889em;
		height: 44px;
		width:100%;
		max-width: 100%;
	}
	input[type=button].black,
	input[type=submit].black {
		background-color: $color__grey--darker;
		border: 1px solid black;
		color: $color__white;
		display: inline;
		font: 600 14px $font__default;
		height: $base-line-height * 6;
		line-height: $base-line-height * 6;
		padding: 0 12px;
	}


}
