.mdl-navigation__link {
    background-color: transparent!important;
    border-bottom: 4px solid transparent;
    display: inline-block;
    // line-height: 68px;
    // height: rhythm(3);
}

.mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}
