.org-hub {
  .summary {
    li {
      list-style-position: inside;
    }
  }

  .org-logo {
    margin: 0 auto 35px;
  }

  .separator {
    border-top: 1px solid black;
    margin-top: 42px;
  }

  .org-services {
    h2 {
      margin: -1px 0 29px;
      text-transform: uppercase;
    }
  }

  .org-hub-services {
    article {
      margin-bottom: 37px;

      h3 {
        font-size: $mobile-h2-size;
        line-height: 28px;
        margin: 0 0 -2px;

        a {
          background-position: right 2px;
        }
      }
    }
  }

  .org-link {
    margin-top: 24px;
  }
}

.orgservices {
  margin-bottom: rhythm(3);
  .orgservice {
    @include adjust-font-size-to(1.2em, 4);
  }
}

.org-hub {
  .transformation-message {
    @include adjust-font-size-to($mobile-h3-size, 5);

    @include media-tablet {
      @include adjust-font-size-to($tablet-h3-size);
    }

    @include media-desktop {
      @include adjust-font-size-to($desktop-h3-size);
    }
  }
}

.org-hub .org-logo {
  clear: both;
  max-height: 300px;
  max-width: 100%;
}

.org-hub .signpost {
  margin: 0 auto rhythm(5);
}

.org-hub ul.category-items {
  margin: 0;
}

.org-hub ul.category-items li {
  color: $color__blue--base;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: rhythm(5);
}

.org-hub ul.category-items li.col-md-9 {
  height: auto;
  margin-bottom: rhythm(3);
}

.org-hub ul.category-items li h1, .org-hub ul.category-items li h1 a {
  color: $color__blue--base;
  font-size: 1.1em;
  margin-top: rhythm(1);
  margin-bottom: rhythm(1);
}

.org-hub ul.category-items li p {
  color: #2b2b2b;
  font-size: 1em;
}

/* Small Devices, Tablets */
@include media-tablet {
  .org-hub {
    .org-services {
      h3 {

        font-size: $tablet-h2-size;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 42px;
      }
    }

    .org-hub-services {
      article {
        margin-bottom: 51px;

        h3 {
          font-size: $tablet-h2-size;
          margin: 3px 0 2px;

          a {
            background-position: right 3px;
          }
        }
      }
    }

    .org-link {
      margin-top: 0;
    }

    .org-link-button {
      margin-bottom: -1px;
    }
  }
}

/* Medium Devices, Desktops */
@include media-desktop {
  .org-hub {
    .org-hub-link-text {
      font-size: 16px !important;
    }

    .org-link-button {
      margin-bottom: 0;
    }
  }
}

/* Large Devices, Wide Screens */
@include media-hd {

}
