.org-side-bar {
  background-color: $color__background--white;
  padding: rhythm(1) 8px;
  border: 1px solid #2b2b2b;
  .provided-by {
    font-size: 1.1em;
  }
  .org-logo {
    margin: 0.2em;
    max-width: 200px;
    max-height: 250px;
    display: block;
  }
  .summary {
    margin: 10px 0;
  }
  .bottom-link {
    font-size: 0.8em;
    margin-top: 10px;
  }
}
