/*------------------------------------*\
    $BASE SPACING
\*------------------------------------*/
/**
 * Based on the super fantastic work shown here: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Elements
 */
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
table,
ul {
    margin: 0 0 rhythm(1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rhythm(0);
}
/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
    margin: 0 0 rhythm(1);
}
/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
dd,
ol,
ul {
    margin-left: (2 * $base-spacing-unit);
    margin-left: pem(2 * $base-spacing-unit);
}
