<div id="cookie-notice" class="notification hidden" aria-describedby="cookieinfo">
    <div class="container">
        <p tabindex="0" id="cookieinfo" class="cookieinfo">This site uses cookies to make the site simpler. <a href="/cookies/">Find out more about cookies</a></p>
        <button title="Close this notification" id="close-cookie-notification" class="close-notification">Close</button>
    </div>
</div>
