/*
The inevitable stylesheet for IE7
*/
/* SASS Libraries
========================================================================== */

/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
@import "compass";

/* Utilities
========================================================================== */
/*
 * Global classes, mixins and styles that can be used anywhere and at any time.
 */
@import "utilities/font-stack";

.notification .close-notification {
  font-family: $font__default;
  height: 37px;
  width: 60px;
}

.notification .close-notification span {
  position: static;
  text-decoration: underline;
}