body {
    margin: 0;
}
a img {
    border: 0;
}
::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}
::selection {
    background-color: #6ab344;
    color: #fff;
}
.mdl-textfield--expandable {
    width: auto;
}
.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}
.thesett-card-container .mdl-card__actions {
    bottom: 0;
    position: absolute;
}
.thesett-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}
.thesett-card-container .mdl-card__media {
    background: transparent;
    overflow: hidden;
}
.thesett-card-container .mdl-card__media img {
    width: 100%;
}
.thesett-card-container .mdl-card__supporting-text {
    color: black;
    height: auto;
    padding-bottom: 56px;
}
.thesett-card-container .mdl-card__title {
    background: transparent;
    height: auto;
}
.thesett-card-container .mdl-card__title-text {
    color: black;
    height: auto;
}
.thesett-drawer {
    border-right: none;
}
.thesett-drawer .mdl-layout-title {
    background: #6ab344;
    height: 160px;
    position: relative;
}
.thesett-drawer .mdl-navigation__link.mdl-navigation__link {
    color: #757575;
    font-size: 14px;
}
.thesett-drawer .thesett-logo-image {
    bottom: 16px;
    position: absolute;
}
.thesett-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}
.thesett-drawer-separator {
    background-color: #dcdcdc;
    height: 1px;
    margin: 8px 0;
}
.thesett-footer {
    background-color: #fafafa;
    position: relative;
}
.thesett-footer .mdl-mega-footer--bottom-section {
    position: relative;
}
.thesett-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}
.thesett-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}
.thesett-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}
.thesett-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}
.thesett-footer a:hover {
    color: #8bc34a;
}
.thesett-header {
    background-color: white;
    overflow: visible;
}
.thesett-header .material-icons {
    color: #767777!important;
}
.thesett-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}
.thesett-header .mdl-menu__container {
    margin: 0 !important;
    z-index: 50;
}
.thesett-header .mdl-navigation__link {
    color: #757575;
    font-size: 14px;
    font-weight: 700;
}
.thesett-link {
    color: #8bc34a!important;
    text-decoration: none;
}
.thesett-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}
.thesett-link-menu:hover {
    cursor: pointer;
}
.thesett-link:hover {
    color: #7cb342!important;
}
.thesett-logo-image {
    height: 28px;
    width: 140px;
}
.thesett-mobile-title {
    display: none!important;
}
.thesett-more-button {
    order: 3;
}
.thesett-more-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1044px;
    padding: 80px 0;
}
.thesett-more-section .thesett-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}
.thesett-navigation {
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}
.thesett-navigation .mdl-navigation__link {
    background-color: transparent!important;
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 60px;
    line-height: 68px;
}
.thesett-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}
.thesett-navigation-container {
    direction: rtl;
    order: 1;
    transition: opacity 0.2s cubic-bezier(0.4,0,0.2,1), width 0.2s cubic-bezier(0.4,0,0.2,1);
    width: 500px;
}
.thesett-search-box {
    margin-left: 16px;
    margin-right: 16px;
    order: 2;
}
.thesett-search-box .mdl-textfield__input {
    color: rgba(0,0,0,0.87);
}
.thesett-search-box.is-focused + .thesett-navigation-container {
    opacity: 0;
    width: 100px;
}
/**** Mobile layout ****/
@media (max-width: 900px) {
    .thesett-navigation-container {
        display: none;
    }
    .thesett-title {
        display: none !important;
    }
    .thesett-mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
    .thesett-search-box.is-focused + .thesett-navigation-container + .thesett-mobile-title,
    .thesett.thesett-search-box.is-focused ~ .thesett-mobile-title {
        opacity: 0;
    }
    .thesett-more-button {
        display: none;
    }
    .thesett-search-box.is-focused {
        width: calc(100% - 48px);
    }
    .thesett-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }
    .thesett-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}
