/* ==========================================================================
   ATOMIC DESIGN WITH SASS
   ========================================================================== */
/**
 * This is the control panel where all of the quarks, atoms and molecules are imported.
 */
/* SASS Libraries
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
@import "compass";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";
/* Utilities
========================================================================== */
/*
 * Global classes, mixins and styles that can be used anywhere and at any time.
 */
@import "utilities/responsive-values";
@import "utilities/mixins";
@import "utilities/reset";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/font-stack";
@import "utilities/defaults";
@import "utilities/responsive-values";
@import "utilities/base-spacing";
@import "utilities/colors";
/* Quarks
========================================================================== */
/*
 * Styles reserved for default HTML elements only. Default paragraphs, links, lists and micros. Style
 * guide stuff.
 */
@import "quarks/headings";
@import "quarks/links";
/* Atoms
========================================================================== */
/*
 * CSS objects that can be extended from and into other elements of the site. Think of these as
 * the default relationships that can be used again and again without bloating the codebase.
 */
@import "atoms/grids";
@import "atoms/flag";
@import "atoms/aside";
@import "atoms/nav";
@import "atoms/body";
@import "atoms/menu";
/* Molecules
========================================================================== */
/*
 * Sometimes we need one-off structures, such as a banner or navigation element or footer, that we
 * dont intend to replicate. This is where we can combine multiple quarks and atoms, without
 * interfering with any of our global styles.
 */
@import "molecules/card-container";
@import "molecules/header";
@import "molecules/footer";
@import "molecules/drawer";
@import "molecules/nav-bar";
@import "molecules/search-box";

/**** Mobile layout ****/
@media (max-width: 900px) {
    .thesett-navigation-container {
        display: none;
    }
    .thesett-title {
        display: none !important;
    }
    .thesett-more-button {
        display: none;
    }
    .thesett-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
    .thesett-mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
    .thesett-search-box.is-focused + .thesett-navigation-container + .thesett-mobile-title,
    .thesett.thesett-search-box.is-focused ~ .thesett-mobile-title {
        opacity: 0;
    }
    .thesett-search-box.is-focused {
        width: calc(100% - 48px);
    }
    .thesett-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }
}
