{{> subsite-header }}

<div class="container content-area">
  <div class="row">
    {{#each products}}
    {{> product this }}
    {{/each}}
  </div>

  {{#each features}}
  {{> feature this }}
  {{/each}}
</div>
