<footer class="thesett-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
        </div>
    </div>

    <div class="mdl-mega-footer--bottom-section">
        <a class="thesett-link thesett-link-menu mdl-typography--font-light" id="version-dropdown">
              Menu 1
              <i class="material-icons">arrow_drop_up</i>
            </a>
        <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
            <li class="mdl-menu__item">Item 1</li>
            <li class="mdl-menu__item">Item 2</li>
        </ul>
        <a class="thesett-link thesett-link-menu mdl-typography--font-light" id="developers-dropdown">
              Menu 2
              <i class="material-icons">arrow_drop_up</i>
            </a>
        <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
            <li class="mdl-menu__item">Item 1</li>
            <li class="mdl-menu__item">Item 2</li>
        </ul>
        <a class="thesett-link mdl-typography--font-light" href="">Link</a>
        <a class="thesett-link mdl-typography--font-light" href="">Link</a>
    </div>

</footer>
</div>
