<footer id="site-footer">
    <div class="container">
        <ul class="row footer-links" id="footer-links">
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>   
    </div>
</footer>
