<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

            <a id="thesett-logo" href="http://"></a>

            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation -->
            <nav class="thesett-navigation mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="typography">Typography</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="buttons">Buttons</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="cards">Cards</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="tables">Tables</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="forms">Forms</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="dialogs">Dialogs</a>
            </nav>

            <button class="thesett-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">Menu 1</li>
                <li class="mdl-menu__item">Menu 2</li>
                <li disabled class="mdl-menu__item">Menu 3</li>
            </ul>
        </div>
    </div>
