<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

            <a id="thesett-logo" href="/"></a>

            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>


        </div>
    </div>

    <div class="mdl-layout__tab-bar-container">

        <!-- Navigation -->
        <div class="mds-js-ripple-effect--ignore-events mdl-js-ripple-effect mdl-layout__tab-bar">
            <a class="mdl-layout__tab" href="typography">Typography</a>
            <a class="mdl-layout__tab" href="buttons">Buttons</a>
            <a class="mdl-layout__tab" href="cards">Cards</a>
            <a class="mdl-layout__tab" href="tables">Tables</a>
            <a class="mdl-layout__tab" href="forms">Forms</a>
            <a class="mdl-layout__tab" href="dialogs">Dialogs</a>
        </div>
    </div>
