/*------------------------------------*\
    $BLOCKQUOTES
\*------------------------------------*/

blockquote {
  border: 1px  solid $color__border--base;
  border-width: 1px 0;
  clear: both;
  font-size: 15px;
  line-height: 21px;
  margin: 33px 0 37px 0;
  padding: 13px 10px 13px 49px;
  position: relative;
  top: 4px;

  p {
    margin-bottom: 0;
  }

  // icon
  &:before {
    background: url(../images/icons/note.png) no-repeat 0 0 transparent;
    content: '';
    height: 26px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 26px;

    @include image-retina('../images/icons/note.png', 26px, 26px);
  }
}

@include media-tablet {
  blockquote {
    font-size: 17px;
    line-height: 28px;
    margin-right: 125px;
    padding: 13px 35px 13px 49px;
  }
}

@include media-desktop {
  blockquote {
    margin-right: 81px;
  }
}

@include media-hd {
  blockquote {
    margin-right: 98px;
  }
}
