%navigation-icon {
  $height: 42px;
  background: $btn__primary;
  border-radius: 50%;
  color: $color__white;
  content: '';
  height: $height;
  margin-top: $height * -0.5;
  position: absolute;
  top: 50%;
  width: $height;
}

button,
input[type=submit],
input[type=button] {
  @include transition(background 1s, color 1s);

  &:hover {
    @include transition(background 0.2s, color 0.2s);
  }

  &:active {
    @include transition(background 0s, color 0s);
  }
}

a.button, button,
input[type=submit],
input[type=button] {
  background: $color__grey--base;
  border: 0;
  border-radius: 0;
  color: $color__white;
  display: block;
  font-size: $mobile-button-size;
  font-weight: 700;
  height: 70px;
  line-height: 22px;
  margin: 44px 0 49px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: $color__grey--dark;
  }

  &.primary {
    background-color: $btn__primary;

    &:hover,
    &:focus {
      background-color: $btn__primary--hover;
    }

    &:active {
      color: rgba($color__white, 0.65);
    }
  }

  &.secondary {
    background: $btn__secondary;
    font-size: $mobile-small-button-size;
    height: auto;
    min-height: 42px;
    line-height: 18px;
    min-width: 90px;
    width: auto;

    &.large {
      height: rhythm(8);
      line-height: rhythm(8);
      min-width: 90px;
    }

    &:hover,
    &:focus {
      background: $btn__secondary--hover;
    }

    &:active {
      color: rgba($color__white, 0.65);
    }

    .link-text {
      padding: 7px 15px;
    }
  }

  // button with external icon
  &.external {
    background: $btn__external;
    padding: 0;
    position: relative;

    &:hover,
    &:focus {
      background: $btn__external--hover;

      &:after {

        @include transition(opacity 0.2s);
      }
    }

    &:active {
      color: rgba($color__white, 0.65);

      &:after {
        opacity: 0.65;

        @include transition(opacity 0s);
      }
    }

    &:after {
      background: url(../images/icons/arrows/ext_arrow_text_17px_white.png);
      content: '';
      height: 17px;
      position: absolute;
      right: 6px;
      top: 6px;
      width: 17px;

      @include transition(opacity 1s);

      @include image-retina('../images/icons/arrows/ext_arrow_text_17px_white.png', 17px, 17px);
    }
  }

  // forward/back buttons, e.g guide navigation
  &.navigation {
    background: transparent;
    border: 1px solid $color__border--base;
    border-width: 1px 0;
    color: $color__body;
    font-size: 19px;
    font-weight: 400;
    height: 77px;
    line-height: 24px;
    margin: 23px 0 5px;
    position: relative;
    text-transform: none;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $color__grey--lighter;
    }

    &:active {
      background: $color__blue--light;
      color: $color__white;

      &.button-left:before,
      &.button-right:after {
        @include transition(background 0s);
      }
    }

    &.button-left:before,
    &.button-right:after {
      @extend %navigation-icon;
      @include transition(background 1s);


      &:focus {
        @include transition(background 0.2s);
      }
    }

    &.button-left {
      padding-left: 52px;
      text-align: left;

      &:before {
        background-image: url(../images/icons/arrows/int_arrow_left_42px.png);
        left: 10px;

        @include image-retina('../images/icons/arrows/int_arrow_left_42px.png', 42px, 42px);
      }

      &:active {
        &:before {
          background-color: $color__background--white;
          background-image: url(../images/icons/arrows/int_arrow_left_blue_42px.png);
          @include image-retina('../images/icons/arrows/int_arrow_left_blue_42px.png', 42px, 42px);
        }
      }
    }

    &.button-right {
      padding-right: 52px;
      text-align: right;

      &:after {
        background-image: url(../images/icons/arrows/int_arrow_right_42px.png);
        right: 10px;

        @include image-retina('../images/icons/arrows/int_arrow_right_42px.png', 42px, 42px);
      }

      &:active {
        &:after {
          background-color: $color__background--white;
          background-image: url(../images/icons/arrows/int_arrow_right_blue_42px.png);
          @include image-retina('../images/icons/arrows/int_arrow_right_blue_42px.png', 42px, 42px);
        }
      }
    }

    .link-text {
      padding: 7px 15px;
    }
  }

  &.button-cancel {
    background: $color__background--white;
    border: 1px solid $color__grey--dark;
    color: $color__body;

    &.light-text {
      color: #767676;
    }

    &:hover,
    &:focus {
      background-color: $color__grey--lighter;
      border-color: $color__grey--darker;
    }

    &:active {
      background-color: $color__grey--light;
      color: rgba($color__grey--darker, 0.65);
    }
  }

  &.button-right {
    float: right;
  }

  .link-text {
    display: table-cell;
    padding: 7px 40px;
    vertical-align: middle;
  }

  @include media-tablet {
    margin-top: 41px;
    width: 344px;
  }

  @include media-desktop {
    width: 293px;
  }

  @include media-hd {
    width: 360px;
  }
}

.box-element {
  + a.button,
  + button,
  + input[type=submit],
  + input[type=button] {
    margin-top: 28px;
  }
}

a.button {
  display: table;
}

a.icon-button {
  background: transparent !important;
  display: table;

  /* for buttons with icons */
  $icon-gap: 3px;
  $icon-size: 70px;

  .link-text,
  .icon {
    display: table-cell;
    vertical-align: middle;
  }

  .link-text,
  .icon:after {
    background: $color__grey--base;
    @include transition(background-color 1s, color 1s);
  }

  &:hover {
    color: $color__white;
    text-decoration: none;

    .link-text,
    .icon:after {
      background: $color__grey--dark;
      @include transition(background-color 0.2s, color 0.2s);
    }
  }

  &:hover {
    background-color: transparent;
  }

  &:active{
    .link-text {
      color: $color__white;
    }
  }

  .icon {
    position: relative;
    width: $icon-size + $icon-gap;

    &:after {
      bottom: 0;
      content: '';
      display: block;
      margin-left: $icon-gap;
      min-height: $icon-size;
      position: absolute;
      top: 0;
      width: $icon-size;
    }
  }

  // main buttons
  &.primary {
    .link-text,
    .icon:after {
      background: $btn__primary no-repeat 0 0;
    }

    .icon:after {
      background-image: url(../images/icons/arrows/int_arrow_right_70px.png);

      @include image-retina('../images/icons/arrows/int_arrow_right_70px.png', 70px, 70px);
    }

    &:hover {

      .icon:after {
        background-color: $btn__primary--hover;
      }
    }

    &:active {
      .icon:after {
        background-image: url(../images/icons/arrows/int_arrow_right_tint_70px.png);

        @include image-retina('../images/icons/arrows/int_arrow_right_tint_70px.png', 70px, 70px);
      }
    }
  }

  // smaller buttons
  &.secondary {
    .link-text,
    .icon:after {
      background-color: $btn__secondary;
    }

    &:hover {
      .link-text,
      .icon:after {
        background-color: $btn__secondary--hover;
      }
    }
  }

  // buttons with external link icon
  &.external {
    .link-text,
    .icon:after {
      background: $btn__external no-repeat 0 0;
    }

    .icon:after {
      background-image: url(../images/icons/arrows/ext_arrow_70px.png);

      @include image-retina('../images/icons/arrows/ext_arrow_70px.png', 70px, 70px);
    }

    &:hover {
      .icon:after {
        background-color: $btn__external--hover;
      }
    }

    &:active {
      .icon:after {
        background-image: url(../images/icons/arrows/ext_arrow_tint_70px.png);

        @include image-retina('../images/icons/arrows/ext_arrow_tint_70px.png', 70px, 70px);
      }
    }
  }
}

// buttons with a top and bottom border
a.border-button {
  background: none;
  cursor: pointer;
  height: 28px;
  text-transform: none;
  width: auto;

  .link-text {
    background: transparent;
    border: 1px solid $color__body;
    border-width: 1px 0;
    color: $color__body;
    padding: 0;
  }

  .icon {
    width: 33px;

    &:after {
      background: transparent;
      height: 28px;
      min-height: 28px;
      width: 28px;
    }
  }

  &:hover {
    .link-text {
      background: transparent;
      border-color: $color__grey--darker;
      color: $color__grey--darker;
    }
  }
}

// sidebar button sizes
#sidebar button,
#sidebar a.button {
  width: 100%;
}
