/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
  color: $color__link--primary;
  line-height: 1;
  text-decoration: underline;

  @include transition(background-color 1s, color 1s);

  &:focus {
    color: $color__link--focus;

    @include transition(background-color 0s, color 0s);
  }

  &:hover {
    color: $color__link--hover;
    @include transition(background-color 0.2s, color 0.2s);
  }

  &:active {
    color: $color__link--active;
    background-color: $color__blue--lighter;

    @include transition(background-color 0s, color 0s);
  }

  &.button {
    display: table;
  }
}

// no underline on header links
h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

%external-link {
  background-image: url(../images/icons/arrows/ext_arrow_text_15px.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;

  @include image-retina('../images/icons/arrows/ext_arrow_text_15px.png', 15px, 15px);

  &:hover,
  &:active {
    background-image: url(../images/icons/arrows/ext_arrow_text_15px_hover.png);

    @include image-retina('../images/icons/arrows/ext_arrow_text_15px_hover.png', 15px, 15px);
  }

  &.no-icon {
    background-image: none;
    padding-right: 0;

    &:hover {
      background-image: none;
    }

    &:active {
      background-image: none;
    }
  }
}

article {
  a[href^="//"],
  a[href^="http://"],
  a[href^="https://"] {
    background-image: url(../images/icons/arrows/ext_arrow_text_15px.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;

    @include image-retina('../images/icons/arrows/ext_arrow_text_15px.png', 15px, 15px);

    &:hover,
    &:active {
      background-image: url(../images/icons/arrows/ext_arrow_text_15px_hover.png);

      @include image-retina('../images/icons/arrows/ext_arrow_text_15px_hover.png', 15px, 15px);
    }

    &.no-icon {
      background-image: none;
      padding-right: 0;

      &:hover {
        background-image: none;
      }

      &:active {
        background-image: none;
      }
    }
  }

  h2, h3 {
    a[href^="//"],
    a[href^="http://"],
    a[href^="https://"] {
      background-image: url(../images/icons/arrows/ext_arrow_text_17px.png);
      padding-right: 22px;

      @include image-retina('../images/icons/arrows/ext_arrow_text_17px.png', 17px, 17px);

      &:hover,
      &:active {
        background-image: url(../images/icons/arrows/ext_arrow_text_17px_hover.png);

        @include image-retina('../images/icons/arrows/ext_arrow_text_17px_hover.png', 17px, 17px);
      }
    }
  }
}

// explicit external links:
a.external {
  background-image: url(../images/icons/arrows/ext_arrow_text_15px.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;

  @include image-retina('../images/icons/arrows/ext_arrow_text_15px.png', 15px, 15px);

  &:hover,
  &:active {
    background-image: url(../images/icons/arrows/ext_arrow_text_15px_hover.png);

    @include image-retina('../images/icons/arrows/ext_arrow_text_15px_hover.png', 15px, 15px);
  }

  &.no-icon {
    background-image: none;
    padding-right: 0;

    &:hover {
      background-image: none;
    }

    &:active {
      background-image: none;
    }
  }
}

// explicit external links in headers:
h2, h3 {
  a.external {
    background-image: url(../images/icons/arrows/ext_arrow_text_17px.png);
    padding-right: 22px;

    @include image-retina('../images/icons/arrows/ext_arrow_text_17px.png', 17px, 17px);

    &:hover,
    &:active {
      background-image: url(../images/icons/arrows/ext_arrow_text_17px_hover.png);

      @include image-retina('../images/icons/arrows/ext_arrow_text_17px_hover.png', 17px, 17px);
    }
  }
}


%no_underscore_link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 > a {
  @extend %no_underscore_link;
}

@include media-tablet {

  article {
    a[href^="//"],
    a[href^="http://"],
    a[href^="https://"] {
      background-image: url(../images/icons/arrows/ext_arrow_text_17px.png);
      padding-right: 22px;

      @include image-retina('../images/icons/arrows/ext_arrow_text_17px.png', 17px, 17px);

      &:hover,
      &:active {
        background-image: url(../images/icons/arrows/ext_arrow_text_17px_hover.png);

        @include image-retina('../images/icons/arrows/ext_arrow_text_17px_hover.png', 17px, 17px);
      }

      &.no-icon {
        background-image: none;
        padding-right: 0;

        &:hover {
          background-image: none;
        }

        &:active {
          background-image: none;
        }
      }
    }

    .small {
      a[href^="//"],
      a[href^="http://"],
      a[href^="https://"] {
        background-image: url(../images/icons/arrows/ext_arrow_text_15px.png);
        padding-right: 20px;

        @include image-retina('../images/icons/arrows/ext_arrow_text_15px.png', 15px, 15px);

        &:hover,
        &:active {
          background-image: url(../images/icons/arrows/ext_arrow_text_15px_hover.png);

          @include image-retina('../images/icons/arrows/ext_arrow_text_15px_hover.png', 15px, 15px);
        }
      }
    }

    h2, h3 {
      a[href^="//"],
      a[href^="http://"],
      a[href^="https://"] {
        background-image: url(../images/icons/arrows/ext_arrow_text_21px.png);
        padding-right: 26px;

        @include image-retina('../images/icons/arrows/ext_arrow_text_21px.png', 21px, 21px);

        &:hover,
        &:active {
          background-image: url(../images/icons/arrows/ext_arrow_text_21px_hover.png);

          @include image-retina('../images/icons/arrows/ext_arrow_text_21px_hover.png', 21px, 21px);
        }
      }
    }
  }

  // explicit external links:
  a.external {
    background-image: url(../images/icons/arrows/ext_arrow_text_17px.png);
    padding-right: 22px;

    @include image-retina('../images/icons/arrows/ext_arrow_text_17px.png', 17px, 17px);

    &:hover,
    &:active {
      background-image: url(../images/icons/arrows/ext_arrow_text_17px_hover.png);

      @include image-retina('../images/icons/arrows/ext_arrow_text_17px_hover.png', 17px, 17px);
    }

    &.no-icon {
      background-image: none;
      padding-right: 0;

      &:hover {
        background-image: none;
      }

      &:active {
        background-image: none;
      }
    }
  }

  // explicit small external links:
  .small {
    a.external {
      background-image: url(../images/icons/arrows/ext_arrow_text_15px.png);
      padding-right: 20px;

      @include image-retina('../images/icons/arrows/ext_arrow_text_15px.png', 15px, 15px);

      &:hover,
      &:active {
        background-image: url(../images/icons/arrows/ext_arrow_text_15px_hover.png);

        @include image-retina('../images/icons/arrows/ext_arrow_text_15px_hover.png', 15px, 15px);
      }
    }
  }

  // explicit external links in headers:
  h2, h3 {
    a.external {
      background-image: url(../images/icons/arrows/ext_arrow_text_21px.png);
      padding-right: 26px;

      @include image-retina('../images/icons/arrows/ext_arrow_text_21px.png', 21px, 21px);

      &:hover,
      &:active {
        background-image: url(../images/icons/arrows/ext_arrow_text_21px_hover.png);

        @include image-retina('../images/icons/arrows/ext_arrow_text_21px_hover.png', 21px, 21px);
      }
    }
  }
}
