/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }

  @include adjust-font-size-to($mobile-list-size, 3);
  color: $color__body;
  padding-top: rhythm(1, $mobile-list-size);

  @include media-tablet {
    @include adjust-font-size-to($tablet-list-size, 4);
  }

  @include media-desktop {
    @include adjust-font-size-to($desktop-list-size, 4);
  }
}

article,
.content-area {
  ol,
  ul {
    margin: 0 0 21px 21px;
  }

  ol {
    margin-left: 25px;
  }

  p + ul,
  p + ol {
    margin-top: -14px;
  }

  ul + h2,
  ol + h2 {
    margin-top: rhythm(6);
  }
}
