/*------------------------------------*\
    $MICRO
\*------------------------------------*/
/**
* Micro typographic styles
*
**/

dl {
  dt {
    @extend %font__text--bold;
  }

  dd {
    margin-left: 0;
  }

  dl {
    padding-left: $base-spacing-unit;
    padding-left: pem($base-spacing-unit);
  }

  dt,
  dd {
    font-size: $mobile-base-size;
    line-height: $base-line-height * 4;
    margin-bottom: rhythm(1);
  }
}


hr {
  border: 0;
  @include trailing-border($border-style: solid $color__border--light);

  position: relative;
  top: floor($base-line-height / -2);

  @include media-tablet {
    top: 1px;
  }
}

pre {
  @extend %font__text--text;
  font-style: italic;
}
