{{> pattern-header }}

<div class="mdl-layout__content">
	<div class="layout-fixed-width">
		<h2>Buttons</h2>

		<!-- Primary-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--primary">
			Button
		</button>
		<!-- Accent-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--accent">
			Button
		</button>

		<h2>Chips</h2>

		<!-- Basic Chip -->
		<span class="mdl-chip mdl-chip__text">Basic Chip</span>

		<!-- Deletable Chip -->
		<span class="mdl-chip mdl-chip--deletable mdl-chip__text">Deletable Chip
		<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
		</span>

		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--2-col">
				<button class="mdl-button mdl-js-button mdl-button--primary">Button</button>
			</div>
			<div class="mdl-layout-spacer"></div>
			<div class="mdl-cell mdl-cell--4-col">
				<nav class="mdl-navigation">
					<button class="mdl-button mdl-js-button mdl-button--primary">Button</button>
					<!-- </div>
			<div class="mdl-cell mdl-cell--2-col"> -->
					<button class="mdl-button mdl-js-button mdl-button--accent">Button</button>
				</nav>
			</div>
		</div>

	</div>
