{{> pattern-header }}

<div class="mdl-layout__content">
	<div class="layout-fixed-width">
		<h2>Buttons</h2>

		<!-- Primary-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--primary">
			Button
		</button>
		<!-- Accent-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--accent">
			Button
		</button>

		<h2>Anchors as Buttons</h2>

		<!-- Primary-colored flat button -->
		<a class="mdl-button mdl-js-button mdl-button--primary">
			Button
		</a>
		<!-- Accent-colored flat button -->
		<a class="mdl-button mdl-js-button mdl-button--accent">
			Button
		</a>

		<h2>Chips</h2>

		<!-- Basic Chip -->
		<span class="mdl-chip mdl-chip__text">Basic Chip</span>

		<!-- Deletable Chip -->
		<span class="mdl-chip mdl-chip--deletable mdl-chip__text">Deletable Chip
		<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
		</span>

		<h2>Control Bar</h2>

		<div class="control-bar">
			<div class="control-bar__row">
				<div class="control-bar__left-0">
					<span class="mdl-chip mdl-chip__text">Basic Chip</span>
				</div>
				<div class="control-bar__left-3">
					<p>Some text</p>
				</div>
				<div class="control-bar__right-0">
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
					  <i class="material-icons">add</i>
				  </button>
				</div>
				<div class="control-bar__right-0">
					<button class="mdl-button mdl-js-button mdl-button--primary">Button</button>
				</div>
			</div>
		</div>

	</div>
