{{> pattern-header }}

<div class="mdl-layout__content">
	<div class="layout-fixed-width">
		<h2>Buttons</h2>

		<!-- Primary-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--primary">
			Button
		</button>
		<!-- Accent-colored flat button -->
		<button class="mdl-button mdl-js-button mdl-button--accent">
			Button
		</button>

		<h2>Chips</h2>

		<!-- Basic Chip -->
		<span class="mdl-chip mdl-chip__text">Basic Chip</span>

		<!-- Deletable Chip -->
		<span class="mdl-chip mdl-chip--deletable mdl-chip__text">Deletable Chip
		<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
		</span>

		<div class="button-bar">
			<button class="mdl-button mdl-js-button mdl-button--primary">Button</button>
			<button class="mdl-button mdl-js-button mdl-button--primary">Button</button>
			<button class="mdl-button mdl-js-button mdl-button--accent">Button</button>
		</div>

	</div>
