{{> pattern-header }}

<div class="mdl-layout__content">
	<div class="layout-fixed-width">
		<h2>Cards</h2>

		<div class="mdl-grid">

			<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-4.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 2</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<div class="mdl-card__actions">
					<a class="mdl-button mdl-js-button mdl-button--primary" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-3.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 4</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<div class="mdl-card__actions">
					<a class="mdl-button mdl-js-button mdl-button--primary" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>
		</div>
		<h2>One Card</h2>
	</div>

	<div class="layout-fixed-width--one-card">
		<div class="mdl-grid">

			<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-4.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 2</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<div class="mdl-card__actions">
					<a class="mdl-button mdl-js-button mdl-button--primary" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

		</div>
	</div>
