{{> pattern-header }}

<div class="mdl-layout__content">
	<div class="layout-fixed-width">
		<h2>Forms</h2>

		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample1">
				<label class="mdl-textfield__label" for="sample1">Text...</label>
			</div>
		</form>

		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
				<label class="mdl-textfield__label" for="sample2">Number...</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
			</div>
		</form>

		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample3">
				<label class="mdl-textfield__label" for="sample2">Text...</label>
			</div>
		</form>

		<div class="control-bar">
			<div class="control-bar__row">
				<div class="control-bar__left-0">
					<button class="mdl-button mdl-js-button mdl-button--primary">Accept</button>
				</div>
				<div class="control-bar__left-0">
					<button class="mdl-button mdl-js-button mdl-button--accent">Cancel</button>
				</div>
			</div>
		</div>

	</div>
