{{> header }}

<div class="thesett-content mdl-layout__content">
	<a name="top"></a>

	<div class="thesett-more-section">
		<div class="thesett-section-title mdl-typography--display-1-color-contrast">Cards</div>
		<div class="thesett-card-container mdl-grid">
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-1.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 1</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="mdl-card__actions">
					<a class="thesett-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-4.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 2</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="mdl-card__actions">
					<a class="thesett-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-2.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 3</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="mdl-card__actions">
					<a class="thesett-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
					<img src="images/more-from-3.png">
				</div>
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">Card 4</h4>
				</div>
				<div class="mdl-card__supporting-text">
					<span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="mdl-card__actions">
					<a class="thesett-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
							Link
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>
		</div>
	</div>

	<h1>Heading 1</h1>

	<h2>Heading 2</h2>

	<h3>Heading 3</h3>

	<h4>Heading 4</h4>

	<p>Default paragraph text.</p>

	<a href=".">Link</a>

	<ul>
		<li>Bullet 1</li>
		<li>Bullet 2</li>
		<li>Bullet 3</li>
		<li>Bullet 4</li>
	</ul>

	<ol>
		<li>List 1</li>
		<li>List 2</li>
		<li>List 3</li>
		<li>List 4</li>
	</ol>

</div>
